@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  /* border: 5px solid #2fc0e4; */
  border-top: 0;
  /* background-image: url("./assets/imgs/bg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  min-height: 800px;
  &.top-border {
    border-top: 5px solid #2fc0e4;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 175px;
  min-height: 100vh;
  background: #132b51;
  padding-top: 32px;
  text-align: center;
  z-index: 99;
  @media (max-width: 768px) {
    width: calc(100% - 10px);
    z-index: 9999;
    left: -100%;
    transition: all ease 0.5s;
    &.active {
      left: 0;
    }
  }
  a {
    margin-top: 45px;
    display: block;
    border-left: 2px solid;
    border-color: transparent;
    text-decoration: none;
    label {
      color: #fff !important;
      font-family: Muli-Regular;
      font-size: 18px;
      display: block;
      cursor: pointer;
    }
    svg {
      margin-bottom: 11px;
    }

    &:hover,
    &.active {
      border-color: #2bdd94;
      svg path {
        fill: #2bdd94 !important;
      }
    }
  }
}
